* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main Content Styles */
section {
    padding: 20px;
    text-align: center;
}

#about {
    background-image: url("product/รูปภาพ/d4in5wu-cf6c4521-c65f-4cff-a5c6-cfed09d0eb8b.jpg");
    background-color: #cccccc;

    padding: 20px;
}

#about h2 {
    font-size: 50px;
    color: #ffffff;
}

#about p {
    margin: 10px 0;
}

/* Link to Facebook Page */
footer {
    text-align: center;
    margin-top: 28%;
    background-color: black;
    padding: 11px;
}
body {background-color: #cccccc;
    background-image: url("product/รูปภาพ/d4in5wu-cf6c4521-c65f-4cff-a5c6-cfed09d0eb8b.jpg");
    
   }
p{
    color: #ffffff;
    font-size: 30px;
}

a{
    color: #ffffff;
}