* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main Content Styles */
section {
    padding: 20px;
}

#recommended {
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
}

.product-item {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

.product-item img {
    max-width: 100%;
}

.product-item h3 {
    font-size: 18px;
    height: 25px;
    width: 250px;
    margin: 10px 0;

}

.product-item1 h3 {
    font-size: 18px;
    height: 25px;
    width: 250px;
    margin: 10px 0;

}

.product-item1 {
    display: inline-block;
    margin: 5px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

.product-item1 img {
    max-width: 100%;
}

.product-item1 p {
    margin: 10px 0;
}

.product-item p {
    margin: 10px 0;
}

/* Link to Facebook Page */
footer {
    text-align: center;
    margin-top: 20px;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
}